mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/icons-svg/symbol/sprite.svg#" + name)


mixin menu(className, items)
	ul(class=className + '__list')
		each item in items
			li(class=className + '__item')
				a(href="#" class=className + '__link')= item

//- +menuLinks('menu', [{name: 'Котакты', href: 'contacts'}, {name: 'О конторе', href: 'about'}])
//- если нужно создавать активные ссылки при переходе по страницам - для каждой страницы нужно прописывать - var pageName = 'name', а в массиве ссылок - ключ href с таким же значением 
mixin menuLinks(className, items)
	h2= href
	ul(class=className + '__list')
		each item in items
			li(class=pageName && pageName == item.href ? className + '__item active' : className + '__item')
				a(href=item.href && pageName != item.href ? item.href+".html" : pageName == item.href ? "#" :"#" class=className + '__link')= item.name + ' ' + (pageName == item.href)

//- вызов: +crumbs('breadcrumbs', ['', ''], false, false)
//- параметр scroll включает прокрутку крошек по горизонтали, если они не помещаются в экран
//- параметр arrows включает добавдение стрелок вперед-назад для прокрутки. Требует подключения ScrollTabs()
mixin crumbs(className = 'breadcrumbs', items, scroll = false, arrows = false)
	.breadcrumbs(data-scroll-wrapper=scroll ? true : false)
		if scroll && arrows
			button.breadcrumbs__arrow.breadcrumbs__arrow--prev(type="button" data-scroll-icon="back") <
		ul.breadcrumbs__list( data-scroll-tabs=scroll ? true : false)
			each item, i in items
				if i < items.length - 1
					li.breadcrumbs__item(data-scroll-tab=scroll ? true : false)
						a(href="#" ).breadcrumbs__link= item
				else
					li.breadcrumbs__item
							span.breadcrumbs__link= item
		if scroll && arrows
			button.breadcrumbs__arrow.breadcrumbs__arrow--next(type="button" data-scroll-icon="forw") >

//- use: + inpBlock('Город', false, false, false)
				//- [placeholder], [value], наличие класса "form__input--error", наличие класса "form__input--active", текст ошибки - String
mixin inpBlock(item, val = false, errorClass = false, activeClass = false, errorText = false)
	div(class=errorClass ? "form__label form__label--error" : "form__label")
		.form__label-inner
			input(class=errorClass ? "form__input form__input--error" : activeClass ? "form__input form__input--active" : "form__input" type='text' name='name' placeholder=" " value=val?val:false)
			//-button.inp-reset(type="button") x
			label.form__placeholder= item
		.form__error-text= errorText ? errorText : ''

//- вызов: +crumbs('breadcrumbs', ['', ''],  true)
// - этот миксин включать только если требуют SEO
mixin crumbsSchema(className = 'breadcrumbs', items, schema = true)
	ul(class=className itemscope=schema ? true : false itemtype=schema ? "https://schema.org/BreadcrumbList" : false)
		each item, i in items
			li(class=className + '__item' itemprop=schema?"itemListElement":false itemscope=schema?true:false itemtype=schema?"https://schema.org/ListItem":false)
				a(itemprop=schema?"item":false href=schema?"https://example.com/dresses":"#" class=className + '__link')
					span(itemprop=schema?"name":false)= item
				meta(itemprop=schema?'position':false content=schema?(i+1):false)

//- вызов, например: +swiper('my-swiper', true, false, true)
mixin swiper(classname, pagination, scrollbar, navigation)
	div(class="swiper-container swiper" + " " + classname)
		.swiper-wrapper
			if block
				block
			else
				.swiper-slide Only one slide
		if pagination
			.swiper-pagination

		if navigation
			.swiper-button-prev
			.swiper-button-next

		if scrollbar
			.swiper-scrollbar

//- Пагинация
//- items: Array, arrowClass: String
//- вызов: +pagination([1, 2, 3, 4, 5], 1, 'icon-chev-down', 'chev-left', 'chev-right')
mixin pagination(items = [1, 2, 3, '...', 15], activeIndex= 1,  arrowClass = '', iconPrev = false, iconNext = false, textPrev='Prev', textNext='Next')
	.pagination
		a(href="#" class=arrowClass ? "pagination__arrow pagination__arrow--prev" + ' ' + arrowClass : "pagination__arrow pagination__arrow--prev")= texPrev != '' ? textPrev : ''
				if iconPrev
					+icon(iconPrev)
		ul.pagination__list
			each item, i in items
				li.pagination__item
					a(class=i==activeIndex ? "pagination__link active" : "pagination__link" href='#')= item
		a(href="#" class=arrowClass ? "pagination__arrow pagination__arrow--next" + ' ' + arrowClass : "pagination__arrow pagination__arrow--next")=texNext != '' ? textNext : ''
				if iconNext
					+icon(iconNext)

//- статичный звезный рейтинг без возможности выбора полтзователем
//- rate - кол-во "золотых" звезд в строке
mixin starRating(rate)
	.star-rating
		if rate > 0
			-for(var i=0; i<rate; i++)
				.star-rating__star.active 
			-for(var i=rate; i<5; i++)
				.star-rating__star
		else
			-for(var i=0; i<5; i++)
				.star-rating__star

//- звезный рейтинг с возможностью выбора пользователем по клику, только целые числа
//- value - велиичина рейтинга, целое число
//- каждый такой рейтинг должен быть обернут в тег form
//- nameIndex - переменая для уникализации аттрибута "name" для радио кнопок в каждом отдельном рейтинге (в случае размещения нескольких рейтингов на одной странице) 
mixin simpleRating(value, nameIndex = '1')
	.simple-rating
		- for (var i=5; i > 0 ; i--)
			if value === i
				input(id="inp" + i + '-' + nameIndex type='radio' checked name='rating-' + nameIndex value=i)
				label(for="inp" + i + '-' + nameIndex)
			else
				input(id="inp" + i + '-' + nameIndex type='radio' name='rating-' + nameIndex value=i)
				label(for="inp" + i + '-' + nameIndex)

//- звезный рейтинг с возможностью выбора пользователем по клику с демонстрацией значения рейтинга, может прнимать целые и дробные числа
//- value - велиичина рейтинга, целое или дробное число
//- для работы нужен js-скрипт ratings.js
//- nameIndex - переменая для уникализации аттрибута "name" для радио кнопок в каждом отдельном рейтинге (в случае размещения нескольких рейтингов на одной странице) 
mixin crystalRating(rating, nameIndex = '1')
	.crystal-rating
		.crystal-rating__body
			.crystal-rating__active
			.crystal-rating__items
				- for (var i=0; i< 5 ; i++)
					input(value=i+1 type='radio' name='crystal-' + nameIndex)
		.crystal-rating__value= rating